@font-face {
    font-family: Alexandria;
    src: url('fonts/Alexandria.ttf') format('truetype');
}

@font-face {
    font-family: Garet;
    src: url('fonts/Garet-Book.ttf') format('truetype');
}

@font-face {
    font-family: MontBlanc-SB;
    src: url('fonts/MontBlanc-SemiBold.ttf') format('truetype');
}

* {
    box-sizing: border-box;
    font-family: "Garet", Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #e6e5e5ea;
    font-weight: 200;
    color: #333;
    line-height: 1.5;
}

:is(h1, h2, h3) {
    font-family: "Alexandria", "Helvetica", sans-serif;
    text-align: center;
}

a:any-link {
    text-decoration: none;
    font-family: "MontBlanc-SB";
    color: #333;
}

a:hover {
    text-decoration: underline dotted 1px darkolivegreen;
}

a:visited {
    color: darkgrey;
}

header {
    background-color: #4c4c4c;
    color: #fff;
    padding: 0.5rem;
}

#headerCont {
    width: inherit;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    width: fit-content;
}

.logo img {
    height: 75px;
}

.nav-bar {
    position: sticky;
    width: fit-content;
}

.nav-links li {
    list-style: none;
    display: inline-flex;
    flex-wrap: wrap-reverse;
    position: relative;
}

.nav-links a {
    color: #fff;
    font-family: "Alexandria", serif;
    font-size: 110%;
    text-decoration: none;
    margin: 10px;
    padding: 1;
}

nav a:hover {
    background-color: rgb(181, 183, 177);
    color: #333;
    padding: 2px 3px;
}

.hidden {
    display: none;
}

main {
    padding: 2rem;
}

section {
    padding: 1rem 0 0 5rem;
}

#filter {
    margin: 1rem 2rem 2rem;
    font-size: 16px;
    text-align: center;
}

#filter h2 {
    /* ajouter aussi pour section id reviews */
    font-size: 25px;
}

#price-filter {
    margin-right: 1.5rem;
}

.review-card {
    float: auto;
    width: fit-content;
}

#places-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    left: auto;
    right: auto;
}

.place-card {
    width: 310px;
    height: fit-content;
    margin-left: 1rem;
}

.review-card,
.place-card,
.detailed-card {
    display: block;
    justify-content: space-evenly;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: rgb(239, 239, 239);
}

.place-card img {
    width: 287px;
    border-radius: 5%;
}

.place-card .price {
    text-align: center;
    font-size: 15px;
}

.place-card span,
.detailed-card span {
    font-family: "MontBlanc-SB";
}

#details-button {
    background-color: #4c4c4c;
    color: #fff;
    border: none;
    width: 100px;
    padding: 5px;
    margin: 1% 33.33% 5%;
    cursor: pointer;
}

.detailed-card {
    width: 620px;
    margin-left: auto;
    margin-right: auto;
}

.detailed-card h2 {
    font-family: "Alexandria", sans-serif;
}

.detailed-card img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 8%;
    padding: 1rem;
}

#reviews {
    position: relative;
    margin-left: 30%;
}

#thanks {
    display: block;
    text-align: center;
}

#thanks h4 {
    font-size: 21px;
    margin-bottom: 25px;
}

#thanks ul {
    margin-bottom: 40px;
}

#res-list li {
    list-style: none;
    margin-left: -40px;
}

footer {
    background-color: #4c4c4c;
    padding: 1rem 0 0;
}

footer p {
    font-family: "Alexandria", serif;
    text-align: center;
    color: #ddd;
    padding-bottom: 2.5rem;
}